<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

    <!-- Additional refs/title section -->
    <link rel="stylesheet" href="../css/support-styles.css">
    <title>Support</title>

</head>
<body>
    <div id="nav-placeholder"></div>


    <!-- Support (Contact us) page code here, no padding needed I don't think but page-content id (div) could be used if desire din future -->
    <div id="page-content">

        <div class="container">
        
            <h1><b>Support</b></h1>
            <p class="large-text">Need help? Reach our support team with the Contact Us field!</p>

            <!-- <p>[ Additional lines about things on the support page could go here in the future ].</p> -->
        
        </div>

        <div class="container">

            <h1>Contact Us</h1>
            <p class="large-text">How can we help?</p>
            <p>Send a message to our help center for quick solutions.</p>
            
            <div class="contact-form">

                <!--

                    Note on label/input pairings:

                    <label> element used to associate text label with a form input element. Such as:
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" placeholder="Your email address">

                -->

                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" placeholder="Your email address">
                
                <label for="listing-url">Listing URL</label>
                <input type="text" id="listing-url" name="listing-url" placeholder="Link to the listing">
                
                <div>

                    <label for="request-reason">I need help with...</label>
                    <select id="request-reason" name="request-reason">

                        <option value="instrument-damage">Instrument Damage</option>
                        <option value="returns">Returns</option>
                        <option value="reports">Reports</option>
                        <option value="account-issues">Account Issues</option>
                        <option value="payment">Payment</option>
                        <option value="legal">Legal</option>
                        <option value="shipping">Shipping</option>
                        <option value="other">Other</option>

                    </select>

                </div>
                
                <label for="issue-description">Describe your issue</label>
                <input type="text" id="issue-description" name="issue-description" placeholder="Type the description of your issue here...">
                
                <button type="submit" id="send-btn">SEND</button>

            </div>

        </div>

    </div>



    <div id="footer-placeholder"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function(){
            $("#nav-placeholder").load("./nav.html");
            $("#footer-placeholder").load("./footer.html");
        });
    </script>
</body>
</html>
